In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import os
import pandas as pd

In [2]:
URL = "https://www.fincash.com/l/sports/ipl-2020-players-list-and-pricing-details"

In [3]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:55.0) Gecko/20100101 Firefox/55.0',
}

In [4]:
page = requests.get(URL, headers=headers)

In [5]:
soup = BeautifulSoup(page.content, "html.parser")

In [6]:
table = soup.find_all('table')[5]

In [7]:
df = pd.DataFrame(columns=['Player','Role','Price'])

In [8]:
for row in table.find_all('tr'):
    columns = row.find_all('td')
    
    if(columns != []):
        Player = columns[0].text.strip()
        Role = columns[1].text.strip()
        Price = columns[2].text.strip('&0.')

        df = df.append({'Player':Player,'Role':Role,'Price':Price}, ignore_index=True)

In [9]:
df.head()

                    Player     Role       Price
0         Rohit Sharma (R)  Batsman    15 crore
1     Anmolpreet Singh (R)  Batsman    80 lakhs
2            Ankul Roy (R)  Batsman    20 lakhs
3  Sherfane Rutherford (R)  Batsman     2 crore
4     Suryakumar Yadav (R)  Batsman  3.20 crore

In [10]:
MI=df.to_csv('df.csv', index=False)

In [11]:
df.to_excel(r'MI.xlsx', index = False)